<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Document</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>

<body class="text-center">
	<form class="text-center p-5" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">

		<p class="h4 mb-4">Inicio de sesión</p>
		<input type="email" id="email" class="form-control mb-4" placeholder="E-mail" formControlName="email">
		<input type="password" id="password" class="form-control mb-4" placeholder="Contraseña" formControlName="password">

		<p *ngIf="errMsg">{{errMsg}}</p>

		<button class="btn btn-info btn-block my-4" type="submit">Iniciar sesión</button>

		<p>No tengo cuenta 
			<a routerLink="/register" class="nav-link">Registrarme</a>
		</p>
	</form>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>