<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>

<body>
    <h1>Incidentes reportados</h1>
    <p *ngIf="incidents?.length <= 0">No se registraron incidentes aún</p>
    <p *ngIf="errMsg">{{errMsg}}</p>

    <p>Titulo a filtrar <input type="text" (keyup)="applyFilter($event.target.value)"></p>

    <div class="text-center">
    <table class="table">
      <thead>
        <tr>
          <th *ngFor="let title of titles" scope="col">{{ title }} </th>
        </tr>
      </thead>
      <tbody>
        <tr mdbTableCol *ngFor="let incident of filteredIncidents; let i = index">
          <td>{{incident.fecha}}</td>
          <td>{{incident.titulo}}</td>
          <td>{{incident.tipo}}</td>
          <td>{{incident.latitud}} {{incident.longitud}}</td>
          <td>{{incident.usuario.nombre}} {{incident.usuario.apellido}}</td>
          <td>
            <div *ngIf="incident.habilitado">Habilitado</div>
            <div *ngIf="!incident.habilitado">Deshabilitado</div>
          </td>
          <td><button class="btn btn-light button-small" (click)="disableIncident(i)">
              <div *ngIf="incident.habilitado">Deshabilitar</div>
              <div *ngIf="!incident.habilitado">Habilitar</div>
            </button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>