<body>
  <div class="text-center">
    <h5>Incidentes reportados</h5>
    <p *ngIf="incidents?.length <= 0">No se registraron incidentes aún</p>
    <p *ngIf="errMsg">{{errMsg}}</p>

    <table class="table">
      <thead>
        <tr>
          <th *ngFor="let titulo of titulos" scope="col">{{ titulo }} </th>
        </tr>
      </thead>
      <tbody>
        <tr mdbTableCol *ngFor="let incident of incidents; let i = index">
          <td>{{incident.fecha}}</td>
          <td>{{incident.titulo}}</td>
          <td>${{incident.tipo}}</td>
          <td>{{incident.imagen}}</td>
          <td>{{incident.latitud}} {{incident.longitud}}</td>
          <td>{{incident.usuario.nombre}} {{incident.usuario.apellido}}</td>
          <td>
            <div *ngIf="incident.habilitado">Habilitado</div>
            <div *ngIf="!incident.habilitado">Deshabilitado</div>
          </td>
          <td><button class="btn btn-light button-small" (click)="disableIncident(i)"><div *ngIf="incident.habilitado">Deshabilitar</div>
            <div *ngIf="!incident.habilitado">Habilitar</div></button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- <body class="container m-t-1">
    <app-expenses-per-type></app-expenses-per-type>
  </body>
  <body class="container m-t-1">
    <app-purchase-by-type></app-purchase-by-type>
  </body>
  <body class="container m-t-1">
    <app-total-amount-wasted></app-total-amount-wasted>
  </body> -->
</body>